<!-- Header -->
<header id="header">
  <a href="/" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></a>
  <h1>Hi! I'm <strong>Karthik Balakrishnan</strong>.</h1>
  <h4>I often (accidentally) stumble into online internet movements.</h4>
  <br>
  <h4>Currently: 🤔<br>via <strong><a href="https://recurse.com">The Recurse Center</a></strong>, <strong><a href="https://hasgeek.com" target="_blank">HasGeek</a></strong>,<br> and the <strong><a href="http://internetfreedom.in" target="_blank">Internet Freedom Foundation</a></strong>.</h4>
  <a href="/blog">Blog</a> | <a href="/work">Work</a>
</header>
