<!-- Header -->
<header id="header">
  <a href="#" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></a>
  <h1>Hi! I'm <strong>Karthik Balakrishnan</strong>.</h1>
  <br>
  <h4>I work at <strong><a href="https://hasgeek.com" target="_blank">HasGeek</a></strong>.</h4>
  <h4>I often (accidentally) stumble into <strong><a href="http://savetheinternet.in" target="_blank">online</a></strong> <strong><a href="http://chennairains.org" target="_blank">internet</a></strong> <strong><a href="http://internetfreedom.in" target="_blank">movements</a></strong>.</h4>
</header>