---
layout: default
permalink: /work/
description: >
  Karthik Balakrishnan is a developer by day and activist by night.
  Here are some of the projects he has been involved with.

---
<section id="one" >
  <div style="text-align: center;">
    <h1 style="margin-bottom: 0;">Work</h1>
    <p style="font-size: smaller;"><i>I'm currently look for my next gig. Am I a good fit for your company?</i></p>
  </div>
  <!-- <h3>I've done a little bit of a lot of things</h3>
  <p>My work has largely been at the intersection of technology and community.</p>
  <p>I've worked on backend systems with Python(Flask) and Node(Express.js). I've written Android apps (with new libraries like RxJava). I've worked on frontend systems using Ractive, Vue.js, and Angular with CSS frameworks like Bootstrap, Pure CSS, Semantic-UI, Foundation, and Bulma. I've also worked as freelance graphic designer with Photoshop and Illustrator. I've some video post-processing with Adobe Audition, Primiere, and After Effects. I've as a activist and campaigner on digital rights issues. I've worked extensively with tech communities, conferences, and meetups.</p>
  <h3>I'm a generalist.</h3>
  <p>I care about building things that are open, ethical, and meaningful. If you are a small-ish team who is looking for someone to help serve as mix of product and technical</p> -->
</section>
<section>
  <h2 style="text-align: center;">Organizations I've been involved with</h2>
  {% assign p = site.projects | sort: 'order' %}
  {% assign o = site.orgs | sort: 'order' %}
  {% for org in o %}
      <div id="{{ org.shortcode }}">
        <div class="row">
          <div class="2u">
            {% if org.logo %}
            <img src="{{ site.baseurl }}/images/work/{{ org.logo }}" style="width: 100%;" alt="{{ org.title }}">
            {% else %}
            <a href="#" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt=""></a>
            {% endif %}
          </div>
          <div class="8u" style="padding-left:1em;">
            <h3 style="margin: 0px;"">{% if org.nopage %}{{ org.title }}{% else %}<a href="{{ org.url }}">{{ org.title }}</a>{% endif %}</h3>
            <small>({{ org. duration }})</small>
            <p>{{ org.excerpt | markdownify }}{% if org.nopage %}{% else %}<a href="{{ org.url }}">Read more</a>{% endif %}</p>
          </div>
        </div>
      </div>
  {% endfor %}
</section>
<section>
  <h2 style="text-align: center;">Projects I've worked on</h2>
  {% for project in p %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 or forloop.first %}
      <div class="row">
      {% endif %}
        <div id="{{ project.shortcode }}" class="6u 12u$(xsmall)">
          <div class="row">
            <div class="4u">
              {% if project.logo %}
              <img src="{{ site.baseurl }}/images/work/{{ project.logo }}" style="width: 100%;" alt="{{ project.title }}">
              {% else %}
              <a href="#" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt=""></a>
              {% endif %}
            </div>
            <div class="8u" style="padding-left:1em;">
              <h3 style="margin: 0px;""><a href="{% if project.nopage %}{{ project.exturl }}{% else %}{{ project.url }}{% endif %}">{{ project.title }}</a></h3>
              <p>{{ project.excerpt | markdownify }}
              {% if project.nopage %}
              {% else %}
              <a href="{{ project.url }}">Read more</a>
              {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% if loopindex == 0 or forloop.last %}
      </div>
      {% endif %}
  {% endfor %}
</section>
