---
layout: default
permalink: /work/
description: >
  Karthik Balakrishnan is a developer by day and activist by night.
  Here are some of the projects he has been involved with.

---
<section id="one" >
  <div style="text-align: center;">
    <h1 style="margin-bottom: 0;">Work</h1>
    <p style="font-size: smaller;"><i>An overview of organizations and projects I've been involved with</i></p>
  </div>
  <h2>I'm a generalist - I've done a little bit of a lot of things.</h2>
  <p>I've worked on backend systems with <b>Python(Flask)</b> and <b>Node(Express.js)</b>. I've written <b>Android</b> apps (with new libraries like <b>RxJava</b>). I've worked a bit on frontend <b>JavaScript</b> frameworks like <b>Ractive</b>, <b>Vue.js</b>, and <b>Angular</b> with CSS frameworks such as <b>Bootstrap</b>, <b>Pure CSS</b>, <b>Semantic-UI</b>, <b>Foundation</b>, and <b>Bulma</b>.</p>
  <p>I have worked on media - recording talks, interviews, and podcasts - including shoot, editing, and post-processing with tools such as <b>Adobe Audition</b>, <b>Premiere Pro</b>, and <b>After Effects</b>.</p>
  <p>I've also worked as <b>freelance graphic designer</b> while in college - designing of logos, social media and newsletter templates, mobile app mockups, etc</p>
  <p>As an <b>activist and campaigner</b> on digital rights issues, I've designed and developed <b>campaign websites</b>, worked on design and social media, and written content on technical topics.</p>
  <p>I've worked extensively with communities, primarily in tech. This has involved <b>defining and curating several conferences</b>, <b>organizing meetups and workshops</b>, as well as finding new ways to engage with them - via <b>newsletters</b>, <b>Slack communities</b>, and <b>discussions</b>.<br>I also run <a href="https://reroll.in">ReRoll Board Games</a> - a board game community in Bangalore and organize a monthly puzzle event called <a href="http://www.puzzledpint.com/">Puzzled Pint</a>.</p>
  <p>I care about building products that are <b>open, ethical, and meaningful</b>.</p>
  <h2>If you are looking for someone with a mix of engineering, product, and common sense - Get in touch!</h2>
</section>
<section>
  <h2 style="text-align: center;">Organizations</h2>
  {% assign p = site.projects | sort: 'order' %}
  {% assign o = site.orgs | sort: 'order' %}
  {% for org in o %}
      <div id="{{ org.shortcode }}">
        <div class="row">
          <div class="2u">
            {% if org.logo %}
            <img src="{{ site.baseurl }}/images/work/{{ org.logo }}" style="width: 100%;" alt="{{ org.title }}">
            {% else %}
            <a href="#" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt=""></a>
            {% endif %}
          </div>
          <div class="8u" style="padding-left:1em;">
            <h3 style="margin: 0px;"">{% if org.nopage %}{{ org.title }}{% else %}<a href="{{ org.url }}">{{ org.title }}</a>{% endif %}</h3>
            <small>({{ org. duration }})</small>
            <p>{{ org.excerpt | markdownify }}{% if org.nopage %}{% else %}<a href="{{ org.url }}">Read more</a>{% endif %}</p>
          </div>
        </div>
      </div>
  {% endfor %}
</section>
<section>
  <h2 style="text-align: center;">Projects I've worked on</h2>
  {% for project in p %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 or forloop.first %}
      <div class="row">
      {% endif %}
        <div id="{{ project.shortcode }}" class="6u 12u$(xsmall)">
          <div class="row">
            <div class="4u">
              {% if project.logo %}
              <img src="{{ site.baseurl }}/images/work/{{ project.logo }}" style="width: 100%;" alt="{{ project.title }}">
              {% else %}
              <a href="#" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt=""></a>
              {% endif %}
            </div>
            <div class="8u" style="padding-left:1em;">
              <h3 style="margin: 0px;""><a href="{% if project.nopage %}{{ project.exturl }}{% else %}{{ project.url }}{% endif %}">{{ project.title }}</a></h3>
              <p>{{ project.excerpt | markdownify }}
              {% if project.nopage %}
              {% else %}
              <a href="{{ project.url }}">Read more</a>
              {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% if loopindex == 0 or forloop.last %}
      </div>
      {% endif %}
  {% endfor %}
</section>
