---
layout: default
permalink: "/work/"
description: I'm a developer and digital rights activist. Here are some of the organizations
  and projects I've been involved with.
---
<section id="one" >
  <div style="text-align: center;">
    <h1 style="margin-bottom: 0;">Work</h1>
    <p style="font-size: smaller;"><i>An overview of organizations and projects I've been involved with</i></p>
  </div>
</section>
<section>
  <h2 style="text-align: center;">Organizations</h2>
  {% assign p = site.projects | sort: 'order' %}
  {% assign o = site.orgs | sort: 'order' %}
  {% for org in o %}
      <div id="{{ org.shortcode }}">
        <div class="row">
          <div class="2u">
            {% if org.logo %}
            <img src="{{ site.baseurl }}/images/work/{{ org.logo }}" style="width: 100%;" alt="{{ org.title }}">
            {% else %}
            <a href="#" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt=""></a>
            {% endif %}
          </div>
          <div class="8u" style="padding-left:1em;">
            <h3 style="margin: 0px;"">{% if org.nopage %}{{ org.title }}{% else %}<a href="{{ org.url }}">{{ org.title }}</a>{% endif %}</h3>
            <small>({{ org. duration }})</small>
            <p>{{ org.excerpt | markdownify }}{% if org.nopage %}{% else %}<a href="{{ org.url }}">Read more</a>{% endif %}</p>
          </div>
        </div>
      </div>
  {% endfor %}
</section>
<section>
  <h2 style="text-align: center;">Projects I've worked on</h2>
  {% for project in p %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 or forloop.first %}
      <div class="row">
      {% endif %}
        <div id="{{ project.shortcode }}" class="6u 12u$(xsmall)">
          <div class="row">
            <div class="4u">
              {% if project.logo %}
              <img src="{{ site.baseurl }}/images/work/{{ project.logo }}" style="width: 100%;" alt="{{ project.title }}">
              {% else %}
              <a href="#" class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt=""></a>
              {% endif %}
            </div>
            <div class="8u" style="padding-left:1em;">
              <h3 style="margin: 0px;""><a href="{% if project.nopage %}{{ project.exturl }}{% else %}{{ project.url }}{% endif %}">{{ project.title }}</a></h3>
              <p>{{ project.excerpt | markdownify }}
              {% if project.nopage %}
              {% else %}
              <a href="{{ project.url }}">Read more</a>
              {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% if loopindex == 0 or forloop.last %}
      </div>
      {% endif %}
  {% endfor %}
</section>