<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VITacademics</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/foundation.css">
  <link rel="stylesheet" href="../assets/css/style.css">

  <script src="../assets/js/modernizr.js"></script>

</head>
<body>

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
  .mapContainer{
	  height: 320px;
	  width: 100%;
  }
</style>

	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/"><img src="../assets/logo.png">VITacademics</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
        {% if logged_in and user%}
        <ul class="right">
	      <li class="has-dropdown">
	        <a href="#">Logged in as {{ user.name }}</a>
	        <ul class="dropdown">
	          <li><a href="/disclaimer">Disclaimer</a></li>
	          <li><a href="/logout">Logout</a></li>
	        </ul>
	      </li>
	    </ul>
        {% else %}
        <ul class="right">
	      <li class="active"><a href="/auth/google">Sign In</a></li>
	    </ul>
        {% endif %}
	    <!-- Right Nav Section -->


	    <!-- Left Nav Section -->
        {% if logged_in and user%}
	    <ul class="left">
	      <li><a href="/dashboard">Dashboard</a></li>
          <li class="has-dropdown">
	        <a href="#">Courses</a>
	        <ul class="dropdown">
                {% for s in allsubjects %}
                    <li {% if classnbr|default('something') == s.classnbr %}class="active"{% endif %}><a href="/subject/{{ s.classnbr }}">{{ s.title }}</a></li>
                {% endfor %}
	        </ul>
	      </li>
          <li><a href="/timetable">Timetable</a></li>
          <li><a href="/backend">How it works</a></li>
          <li><a href="/sms">SMS Demo</a></li>
          <li class="has-dropdown">
              <a href="#">Mobile Apps</a>
              <ul class="dropdown">
                <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.karthikb351.vitinfo2">Android</a></li>
                <li><a target="_blank" href="https://itunes.apple.com/us/app/vitacademics/id727796987?mt=8">iOS</a></li>
                <li><a target="_blank" href="http://www.windowsphone.com/en-in/store/app/vitacademics/d6a9e028-4cc2-46ea-9f1b-84c02f4ae408">Windows Phone</a></li>
              </ul>
	      </li>
	    </ul>
        {% else %}
        <ul class="left">
	      <li><a href="#">Home</a></li>
	    </ul>
        {% endif %}
	  </section>
	</nav>
    {% block main %}{% endblock %}{% block footer %}{% endblock %}