---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }} • {% if page.author %}{{ page.author }}{% else %}{{ site.owner.name }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% if page.categories contains 'rc' %}
    <p style="font-size: smaller;"><i>This blog is an effort to document what work I do at The Recurse Center and keep me accountable. View all Recurse Center posts <a href="/blog/rc">tag:rc</a>.</i></p>
    {% endif %}
  </header>
  <a href=""></a>
  <article class="post-content">

    {{ content }}
  </article>
  <script src="https://utteranc.es/client.js"
        repo="karthikb351/karthikb351"
        issue-term="url"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</div>
