---
layout: default
decription: page.excerpt
---
<div class="post">
  <header class="post-header">
    <div class="row">
      <div class="2u">
        <img src="{{ site.baseurl }}/images/work/{{ page.logo }}" style="width: 100%;" alt="{{ page.title }}">
      </div>
      <div class="10u">
        <h1 style="margin: 0px;"">{{ page.title }}</h1>
        <p>{{ page.role }} <span style="font-size: 0.8em;">({{ page.duration }})</span><br>
        {% if page.exturl %}<a href="{{ page.exturl }}"><i class="icon fa-link" style="color:grey;"></i></a> {% endif %}{% if page.exttwitter %}<a href="https://twitter.com/{{ page.exttwitter }}"><i class="icon fa-twitter" style="color:grey;"></i></a> {% endif %}{% if page.extgithub %}<a href="https://github.com/{{ page.extgithub }}"><i class="icon fa-github" style="color:grey;"></i></a>{% endif %}</p>
      </div>
    </div>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <hr>
  <ul class="actions">
    <li><a href="{{ site.baseurl }}/work/" class="button"><i class="icon fa-angle-double-left"></i> List of projects</a></li>
  </ul>
</div>
